#menu
{
	position: relative;
	width: 15%;
	height: 8%;
	background: wheat;
	color: black;
	width: 100%;
	background-color: wheat(85, 85, 85);
	overflow: auto;
	text-align: right;
	padding: 1%,1%;
	
}
.menu a:hover {
	background-color: blue;
	color: blue;
  }
.menu a:active {
	background-color: blue;
	color: blue;
}
a{
	color: black;
}
section {
	background-color: rgb(98, 69, 69);
	padding: 0px;
	color: wheat;
	text-align: center;
}
.navbar {
	width: 100%;
	background-color: #555;
	overflow: auto;
  }